*{
    box-sizing: border-box;
    
}
body{
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100vh;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(6, 60px); 
  gap: 5px; 
  margin-top: 60px;
}
.hidden {
    display: none;
}
.cell {
  width: 60px;
  height: 60px;
  border: 2px solid gray;
  text-transform: uppercase;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.line{
    width:300px;
    height: 2px;
    background-color: black;
}
.correct {
    background-color: darkgreen;
    color: white;
}

.close {
    background-color: goldenrod;
    color:white;
}
.wrong {
    background-color: #888;
    color: white;
}
:invalid{
    animation: flash 1s;
}
@keyframes flash {
    5% {
        border-color: crimson;
    }

    100% {
        border-color: #ccc;
    }
}

/* winner animation */
@keyframes rian-bow {
    0%{
        background: red;
    }
    20% {
        background: orange;
    }
    40% {
        background: yellow;
    }
    60%{
        background: green;
    }
    80%{
        background: blue;
    }
    100%{
        background: violet;
    }
}

.winner {
    animation: rian-bow 4s infinite linear;
}
